/* src/components/Participants/AssignmentSuccessModal.css */
.assignment-modal-content {
  min-width: 600px;
}

.assignment-warning {
  margin: 0;
}

/* One row for Label + Link + Copy Button */
.link-row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 0;
}

.form-label { flex: 1}
.btn-copy-action { flex: 1}

.link-text-inline {
  flex: 5;
  font-family: monospace;
  font-size: 0.95rem;
  overflow-x: auto;
  color: #334155;
  background: #f1f5f9;
  border: 1px solid var(--border);
  padding: 8px 8px;
}

/* Compact QR Section */
.qr-container-compact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  gap: 30px;
}

.qr-wrapper-small {
  flex: 3;
  padding: 0px 15px;
  margin: 0;
}

.qr-actions-row, .form-label {
  flex: 1;
}

.btn-qr-action, .btn-copy-action, .btn-copy-outline, .btn-sent-email {
  font-size: 1.1rem;
  padding: 8px 10px;
  border-radius: var(--sharp-radius);
}

.btn-qr-action { background: var(--purple); }
.btn-copy-action, .btn-copy-outline { background-color: var(--warning);}

.email-textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--border);
  border-radius: 6px;
  font-size: 0.85rem;
  resize: vertical;
}

/* Align email label and input on one row */
.form-group, .row-align {
  flex-direction: row;
  align-items: center;
  margin-bottom: 0px;
}

.modal-footer-btns {
  display: flex;
  gap: 10px;
  margin: 0;
}

.email-success-info {
  color: var(--success);
  font-weight: 600;
  font-size: 0.9rem;
  margin-right: auto; /* Pushes button to the right */
  display: flex;
  align-items: center;
  animation: fadeIn 0.3s ease;
}